.root {
  position: relative;
  overflow: hidden;
}

.hero {
  background-color: var(--color-white);
  background-image: var(--gradient-hero);
}

.cta {
  background-color: var(--color-white);
  background-image: var(--gradient-cta);
}

.brand {
  background-image: var(--gradient-brand);
}
